PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/sb-stocks
JWT_SECRET=supersecretjwtkeyforproductionsbstocksplatform2026
JWT_EXPIRE=30d
CLIENT_URL=http://localhost:5173
USE_MEMORY_DB=true
